

.borda1{
    border-right: 3px solid royalblue;
}
.src1{
    width: 240px;
}
.src2{
    width: 75px;
    padding: 10px;
}
.insta{
    font-size: 9px;
    font-weight: bold;
}
.container{
    background-color:rgb(201, 249, 255);
}

#habilidade,#formacao,#hobbie,#books,#sobre{
    display: none;
}
.sobre h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: solid 2px royalblue;
}