

.borda1{
    border: 3px solid royalblue;
}
.src1{
    width: 240px;
}
.src2{
    width: 75px;
    padding: 10px;
}
.insta{
    font-size: 9px;
    font-weight: bold;
}
.container{
    margin-left: 5% ;
    background-color:rgb(201, 249, 255);
}
